:host {
    display: flex;
}

.button {
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border: 1px solid transparent;
    transition: 0.2s ease-in;
    background: var(--bg3);
    color: var(--cr1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    p {
        color: var(--cr1);
        transition: 0.2s ease-in;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
    }

    .click {
        pointer-events: none;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: color-mix(in oklab, white 30%, transparent);
        animation: circle 1s ease;
    }
}

@keyframes circle {
    0% {
        transform: translate(-100%, -100%);
    }

    100% {
        transform: translate(-100%, -100%) scale(50);
        opacity: 0;
    }
}

.pd12 {
    padding: 12px;
}

.br12 {
    border-radius: 12px;
}
