.input {
  position: relative;
}
.input .range {
  position: absolute;
  pointer-events: none;
  padding: 0 7px;
}
.input .range .p {
  width: 1px;
  height: 10px;
  background: #000000;
  flex-shrink: 0;
}
