<div class="flex-row-m">
  <ui-xmlreader class="flex-column-m" />
  <div class="container flex-column-m pd24 gap20"
       [class.active]="(service.openXML$ | async)?.length">

    <div class="tools flex-row-w gap16">
      <p class="l1 fsb36 cr2" view="title">CSV Files</p>
      <ui-button offset="pd12" radius="br12" (click)="clear()">
        <div class="flex-row-m gap12">
          <ui-icon url="clear.svg" size="24" />
          <p class="l1 cr1 fsb16">Clear</p>
        </div>
      </ui-button>
      <div class="next flex-column"
           [class.active]="service.ready$ | async">
        <ui-button offset="pd12" radius="br12" (click)="next()">
          <div class="flex-row-m gap12">
            <ui-icon url="next.svg" size="22" />
            <p class="l1 cr1 fsb16">Process</p>
          </div>
        </ui-button>
      </div>
    </div>
    <ui-upload class="flex-column-m"/>
  </div>
</div>



<ng-template #errors>
  <p class="clamp1 fsb18 cr3">Angular</p>
  <p class="clamp1 fsb18 cr3">Asp .Net Core</p>
  <p class="clamp1 fsb18 cr3">Blazor</p>
  <p class="clamp1 fsb18 cr3">Entity Framework</p>
  <p class="clamp1 fsb18 cr3">SignalR</p>
</ng-template>
