:host {

}

.files {
  view-transition-name: none;
  contain: layout paint;
  max-height: calc(100vh - 460px);
  padding-left: 8px;
  overflow-y: auto;
  flex: 1;
  direction: rtl;

  &.expand {
    max-height: 100%;
  }

  & > * {
    direction: ltr;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color-mix(in oklab, var(--bg3) 60%, transparent);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #8080801e;
  }
}
