.trash-icon {
  cursor: pointer;

  path {
    transition: 0.2s ease;
  }

  &:hover {
    
    path {
      fill: #bb7b7b;
    }
  }
}

.green-icon {
  cursor: pointer;

  path {
    transition: 0.2s ease;
  }

  &:hover {
    
    path {
      fill: #5eb4ad;
    }
  }
}



$ag-background-color: #ffffff;
$ag-header-background-color: #f3f3f3;
$ag-header-foreground-color: #000000;
$ag-border-color: #d0d0d0;
$ag-odd-row-background-color: #ffffff;
$ag-even-row-background-color: #f9f9f9;
$ag-font-size: 12px;

.ag-theme-excel {
  font-size: $ag-font-size;
  font-family: 'Calibri', Arial, sans-serif;
  color: $ag-header-foreground-color;
  
  .ag-root-wrapper {
    border: none !important;
    border-radius: 0 !important;
  }
  
  .ag-header-cell {
    color: $ag-header-foreground-color !important;
    font-weight: bold;
    border-right: 1px solid $ag-border-color !important;
    border-bottom: 1px solid $ag-border-color !important;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  
  .ag-header-cell-label {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .ag-cell {
    border-right: 1px solid $ag-border-color !important;
    border-bottom: 1px solid $ag-border-color !important;
    padding: 4px 6px;
  }
  
  .ag-row {
    border-bottom: 1px solid $ag-border-color;
  }
  
  .ag-row-even {
    background-color: $ag-even-row-background-color !important;
  }
  
  .ag-row-odd {
    background-color: $ag-odd-row-background-color !important;
  }
  
  .ag-row-hover {
    background-color: #0f472713 !important;
  }
  
  .ag-cell-focus {
    outline: 1px solid #0080806d !important;
    border: 1px solid #0080806d !important;
  }
  
  .ag-row-selected {
    background-color: #13432713 !important;
  }

  ag-grid-angular {
    width: 100%;
    height: 100%;
  }
}


