<div class="flex-column-m gap32">
  <ui-button class="flex-column-w" offset="pd12" radius="br12" (click)="click()">
    <div class="flex-row-m gap12">
      <ui-icon url="file.xml.svg" size="24" />
      <p class="l1 cr1 fsb16">Index File</p>
      <input type="file" accept=".xml" hidden #input
             (change)="onFilesSelected($event)" />
    </div>
  </ui-button>
  <div class="flex-column-m gap16">
    <ui-xmltable class="flex-column-w" *ngFor="let table of tables" [table]="table"/>
  </div>
</div>

