.container {
  backdrop-filter: blur(2px) brightness(70%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
  z-index: 100;

  .close {
    margin: auto;
    margin-right: 0;
  }

  .modal {
    margin: auto;
    overflow: hidden;
    animation: open 0.3s ease-out;
  }
}


@keyframes open {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
