.table {
  border-left: 6px solid color-mix(in oklab, var(--bg3) 20%, transparent);
  padding-left: 12px;
  box-sizing: border-box;

  &:hover {
    background: color-mix(in oklab, var(--bg1) 50%, transparent);
  }

  &.active {
    border-left: 6px solid color-mix(in oklab, var(--error) 0%, transparent);
    background: color-mix(in oklab, var(--error) 10%, transparent);
  }

  &.rename {
    border-left: 6px solid color-mix(in oklab, var(--error) 80%, transparent);
  }
}
