* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

html, body, #app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

span {
  white-space: nowrap;
}

textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}

input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}
input:placeholder-shown {
  color: var(--background-third-color) !important;
}
input::placeholder {
  opacity: 0;
}

body {
  background: var(--bg3);
  --bg1: #FFFFFF;
  --bg2: #36558d;
  --bg3: #f8f9fa;
  --bg4: #f1f1f1;
  --cr1: #212529;
  --cr2: #FFFFFF;
  --cr3: #36528d;
  --cr4: #DC3545;
  --br1: #b3bce6;
  --br2: #424fc1;
  --br3: #F1AEB5;
  --sh1: #3c40431f;
  --sh2: #3c40432e;
  --scroll: #5670ad;
}
