* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

html, body, #app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  --bg1: #EAF2F4;
  --bg2: #FEFEFE;
  --bg3: #289EAC;
  --bg4: #97cbc9f7;
  --bg5: #80C1C5;
  --bg6: #c8c8c8;
  --cr1: #ffffff;
  --cr2: #353743;
  --cr3: #636666;
  --cr4: #333333;
  --br1: #d7d7d7cd;
  --br2: #9b9a9acd;
  --error: #bb7b7b;
  --check: #5eb4ad;
}

img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

span {
  white-space: nowrap;
}

textarea {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}

input {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;

  &:placeholder-shown {
    color: var(--background-third-color) !important;
  }

  &::placeholder {
    opacity: 0;
  }
}

body {
  background: var(--bg3);

  --bg1: #FFFFFF;
  --bg2: #36558d;
  --bg3: #f8f9fa;
  --bg4: #f1f1f1;

  --cr1: #212529;
  --cr2: #FFFFFF;
  --cr3: #36528d;
  --cr4: #DC3545;

  --br1: #b3bce6;
  --br2: #424fc1;
  --br3: #F1AEB5;

  --sh1: #3c40431f;
  --sh2: #3c40432e;

  --scroll: #5670ad;
}
